__history
*.exe
*.dcu
*.ddp
*.bpl
*.zip
*.dll
*.rsm
*.map
*.drc
*.rsb
*.local
*.identcache
*.~?~
*.~??~
*.~???~
*.~????~
*.cds
*.xml
*.2007
*.png
*.jpg
*.jpeg
*.tvsconfig
*.cbk
*.mad
*.res
*.~dsk
*.serverlog
*.log
*.errorlog
*.optset
*.db
*.aff
*.dic
*.lnk
*.dat
/deployment/FilesCommon
/deployment/FilesCommon-win64
*.dxbackup
*.bmp
*.chm
*.old
*.ppt
*.pptx
*.swf
*.cptx
*.fbl7
*.dabriefcase
bugreport.txt
*.stat
